@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html , body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fa1b36;
}

.cabecalhoLogoeTagA {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px #e8798d solid;
    padding: 1pc;
    margin-left: 5pc;
    margin-right: 5pc;
}

.cabecalhoLogoeTagA a {
    color: #dbbec4;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    transition: .3s all ease-in-out;
    font-size: 1pc;
}

.cabecalhoLogoeTagA a:nth-child(5) {
    display: flex;
    background-color: #fac600;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    height: 3pc;
    width: 8pc;
    color: #fa1b36;
}

.cabecalhoLogoeTagA a:nth-child(5):hover {
    color: #878081;
}
.cabecalhoLogoeTagA a:nth-child(3):hover {
    transform: scale(1.1);
}

.cabecalhoLogoeTagA a:hover {
    color: rgb(240, 248, 255);
    transform: translateX(10px);
}

.imgIlustrativo {
    position: absolute;
    width: 40pc;
    cursor: pointer;
    left: 54%;
    top: 40%;
    transition: .5s all;
}

.imgIlustrativo:hover {
    transform: scale(1.1);
}

.navbar {
    width: 210px;
    height: 22pc;
    top: 30%;
    left: 10%;
    border-radius: 10px;
    position: absolute;
    background-color: #9c0d1e;
    line-height: 5.5pc;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    display: none;
    cursor: pointer;
  }

.navbar a {
    text-decoration: none;
    font-size: 18px;
    color: #e9cbd1;
    display: block;
    transition: .3s all cubic-bezier(0.54, 0.14, 0.56, 0.98);
}

.navbar a:hover {
    background-color: #d64040;
    color: rgba(0, 0, 0, 0.514);
}

.opctionFood {
    height: 340px;
    width: 600px;
    display: none;
    position: absolute;
    color: rgb(253, 253, 253);
    text-align: center;
    line-height: 1.5pc;
    align-items: center;
    left: 26%;
    top: 32%;
    border-radius: 15px;
    opacity: 90%;
    background-color: transparent;
    flex-direction: column-reverse;
    cursor: pointer;
}

.opctionFood02 {
    height: 340px;
    width: 600px;
    display: none;
    position: absolute;
    color: rgb(253, 253, 253);
    text-align: center;
    line-height: 1.5pc;
    align-items: center;
    left: 26%;
    top: 32%;
    border-radius: 15px;
    opacity: 90%;
    background-color: transparent;
    flex-direction: column-reverse;
    cursor: pointer;
}

.opctionFood03 {
    height: 340px;
    width: 600px;
    display: none;
    position: absolute;
    color: rgb(253, 253, 253);
    text-align: center;
    line-height: 1.5pc;
    align-items: center;
    left: 26%;
    top: 32%;
    border-radius: 15px;
    opacity: 90%;
    background-color: transparent;
    flex-direction: column-reverse;
    cursor: pointer;
}

.opctionFood04 {
    height: 340px;
    width: 600px;
    display: none;
    position: absolute;
    color: rgb(253, 253, 253);
    text-align: center;
    line-height: 1.5pc;
    align-items: center;
    left: 26%;
    top: 32%;
    border-radius: 15px;
    opacity: 90%;
    background-color: transparent;
    flex-direction: column-reverse;
    cursor: pointer;
}

.menu {
    width: 500px;
    margin: 0 auto;
    margin-top: 1pc;
    padding: 20px;
    position: fixed;
    background-color: #fac600;
    border-radius: 5px;
  }

  h1 {
    text-align: center;
    color: #333333;
  }

  h2 {
    margin-top: 30px;
    color: #666666;
  }

  .category {
    margin-bottom: 10px;
  }

  .category-title {
    color: #333333;
  }

  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .item-name {
    color: #333333;
  }

  .item-price {
    color: #666666;
  }

table {
    border-collapse: collapse;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fac600;
}

th, td {
    text-align: left;
    padding: 12px 15px;
    border-radius: 2px;
}

th {
    background-color: #ffc107;
    color: #fffefe;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #fa1b36;
}

tr:hover {
    background-color: #ffa8a8;
}


::selection {
    background-color: #9c0d1e;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 700px) {
    a {
        display: flex;
        text-align: -webkit-center;
    }

    .cabecalhoLogoeTagA {
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }

    .cabecalhoLogoeTagA a {
        font-size: 9.9px;
        padding-left: 0px;
        padding-right: 0px;
        padding-left: 8px;
    }

    .imgIlustrativo {
        position: absolute;
        width: 350px;
        left: 20px;
        top: 400px;
    }

    .navbar {
        position: absolute;
        top: 115px;
        left: 40px;
        line-height: 80px;
        opacity: 80%;
    }

    html, body {
        margin: 1px;
        padding: 1px;
    }
  
    .cabecalhoLogoeTagA a:nth-child(1) {
      display: none;
    }

    .cabecalhoLogoeTagA a:nth-child(2) {
      display: none;
    }
  
    .cabecalhoLogoeTagA a:nth-child(5) {
        width: 80px;
        height: 40px;
    }

    .cabecalhoLogoeTagA a:hover {
        transition: .3s all cubic-bezier(0.43, 1.52, 0.77, 1.19);
    }

    .opctionFood {
        position: absolute;
        width: 280px;
        top: 32%;
        left: 70px;
    }

    .opctionFood02 {
        position: absolute;
        width: 280px;
        top: 42%;
        left: 90px;
    }

    .opctionFood03 {
        position: absolute;
        width: 280px;
        top: 55%;
        left: 90px;
    }

    .opctionFood04 {
        position: absolute;
        width: 280px;
        top: 60%;
        left: 90px;
    }

    .menu {
    width: 250px;
    height: 410px;
    margin: 0 auto;
    margin-top: 1pc;
    padding: 10px;
    position: absolute;
    left: 20%;
    background-color: #fac600;
    border-radius: 5px;
    line-height: 15px;
    opacity: 90%;
  }
}
